
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome to AppLabServer’s documentation! &#8212; AppLabServer  documentation</title>
    <link rel="stylesheet" href="/static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="/static/pygments.css" type="text/css" />
    <script type="text/javascript" src="/static/documentation_options.js"></script>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/underscore.js"></script>
    <script type="text/javascript" src="/static/doctools.js"></script>
    <link rel="index" title="Index" href="genindex.html" />
    <link rel="search" title="Search" href="search.html" />
   
  <link rel="stylesheet" href="/static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="welcome-to-applabserver-s-documentation">
<h1>Welcome to AppLabServer’s documentation!<a class="headerlink" href="#welcome-to-applabserver-s-documentation" title="Permalink to this headline">¶</a></h1>
<div class="section" id="module-group2api.app">
<span id="app-py"></span><h2>app.py<a class="headerlink" href="#module-group2api.app" title="Permalink to this headline">¶</a></h2>
<dl class="function">
<dt id="group2api.app.add_days">
<code class="descclassname">group2api.app.</code><code class="descname">add_days</code><span class="sig-paren">(</span><em>start_date</em>, <em>end_date</em><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.add_days" title="Permalink to this definition">¶</a></dt>
<dd><p>Adds the days information to the instances based on given interval</p>
<p>Usage example : &lt;hostname&gt;/add_days/start=2017-11-28&amp;end=2017-12-04</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><dl class="first last docutils">
<dt><strong>start_date</strong> <span class="classifier-delimiter">:</span> <span class="classifier">string</span></dt>
<dd><p class="first last">Give the starting date as string in YYYY-DD-MM format.</p>
</dd>
<dt><strong>end_date</strong> <span class="classifier-delimiter">:</span> <span class="classifier">string</span></dt>
<dd><p class="first last">Give the ending date as string in YYYY-DD-MM format.</p>
</dd>
</dl>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="function">
<dt id="group2api.app.calculate_m2m_coordinates">
<code class="descclassname">group2api.app.</code><code class="descname">calculate_m2m_coordinates</code><span class="sig-paren">(</span><em>user_id</em>, <em>loid</em>, <em>date=None</em><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.calculate_m2m_coordinates" title="Permalink to this definition">¶</a></dt>
<dd><p>Calculates coordinates that represent the learning of the moment-by-moment peaks.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><dl class="first docutils">
<dt><strong>user_id</strong> <span class="classifier-delimiter">:</span> <span class="classifier">The user for which the coordinates are calculated</span></dt>
<dd></dd>
<dt><strong>loid</strong> <span class="classifier-delimiter">:</span> <span class="classifier">The ID of the learning objective for which the coordinates are calculated</span></dt>
<dd></dd>
<dt><strong>date</strong> <span class="classifier-delimiter">:</span> <span class="classifier">string, optional (default=None)</span></dt>
<dd><p class="first last">pass in yyyy-mm-dd format. Will result in getting just the coordinates for that day</p>
</dd>
</dl>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Returns:</th><td class="field-body"><dl class="first last docutils">
<dt><strong>coords</strong> <span class="classifier-delimiter">:</span> <span class="classifier">The coordinates for which the</span></dt>
<dd></dd>
</dl>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="function">
<dt id="group2api.app.calculate_scores">
<code class="descclassname">group2api.app.</code><code class="descname">calculate_scores</code><span class="sig-paren">(</span><em>user_id='all'</em><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.calculate_scores" title="Permalink to this definition">¶</a></dt>
<dd><p>Calculates the ability scores for the given user or for all</p>
<div class="admonition warning">
<p class="first admonition-title">Warning</p>
<p class="last">If run for all users, it takes a while</p>
</div>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><dl class="first docutils">
<dt><strong>user_id</strong> <span class="classifier-delimiter">:</span> <span class="classifier">integer or string, (default=’all’)</span></dt>
<dd><p class="first last">Give the id of the user. If given ‘all’, runs for
each unique user in the database.</p>
</dd>
</dl>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Returns:</th><td class="field-body"><dl class="first last docutils">
<dt><strong>response</strong> <span class="classifier-delimiter">:</span> <span class="classifier">dictionary</span></dt>
<dd><p class="first last">Contains a success message and a list of failed user ids.</p>
</dd>
</dl>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="function">
<dt id="group2api.app.flag_positions">
<code class="descclassname">group2api.app.</code><code class="descname">flag_positions</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.flag_positions" title="Permalink to this definition">¶</a></dt>
<dd><p>Generates a table for positon of flags</p>
<p>Usage example : &lt;hostname&gt;/flag_positions</p>
</dd></dl>

<dl class="function">
<dt id="group2api.app.get_ability_score_by_day_number">
<code class="descclassname">group2api.app.</code><code class="descname">get_ability_score_by_day_number</code><span class="sig-paren">(</span><em>day_number</em>, <em>user_id</em>, <em>learning_obj_id</em><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.get_ability_score_by_day_number" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns ability score of the user accordind to learning obj id</p>
<p>Usage example : &lt;hostname&gt;/scores/day=1§user_id=231412&amp;learning_obj_id=65745</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><dl class="first docutils">
<dt><strong>day_number</strong> <span class="classifier-delimiter">:</span> <span class="classifier">int</span></dt>
<dd><p class="first last">Give the date number like 1, 2, 3</p>
</dd>
<dt><strong>user_id</strong> <span class="classifier-delimiter">:</span> <span class="classifier">integer or string</span></dt>
<dd><p class="first last">Give the id of the user</p>
</dd>
<dt><strong>learning_obj_id</strong> <span class="classifier-delimiter">:</span> <span class="classifier">integer or string</span></dt>
<dd><p class="first last">Give the id of the learning objective</p>
</dd>
</dl>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Returns:</th><td class="field-body"><dl class="first last docutils">
<dt><strong>scores</strong> <span class="classifier-delimiter">:</span> <span class="classifier">an integer</span></dt>
<dd><p class="first last">The ability score achieved by the user</p>
</dd>
</dl>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="function">
<dt id="group2api.app.get_ability_scores">
<code class="descclassname">group2api.app.</code><code class="descname">get_ability_scores</code><span class="sig-paren">(</span><em>user_id</em>, <em>learning_obj_id</em>, <em>exercise_id</em><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.get_ability_scores" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns ability score of the user on an exercise for a learning objective</p>
<p>Usage example : &lt;hostname&gt;/scores/user_id=231412&amp;learning_obj_id=65745&amp;exercise_id=342342</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><dl class="first docutils">
<dt><strong>user_id</strong> <span class="classifier-delimiter">:</span> <span class="classifier">integer or string</span></dt>
<dd><p class="first last">Give the id of the user</p>
</dd>
<dt><strong>learning_obj_id</strong> <span class="classifier-delimiter">:</span> <span class="classifier">integer or string</span></dt>
<dd><p class="first last">Give the id of the learning objective</p>
</dd>
<dt><strong>exercise_id</strong> <span class="classifier-delimiter">:</span> <span class="classifier">integer or string</span></dt>
<dd><p class="first last">Give the id of the exercise</p>
</dd>
</dl>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Returns:</th><td class="field-body"><dl class="first last docutils">
<dt><strong>scores</strong> <span class="classifier-delimiter">:</span> <span class="classifier">list of integers</span></dt>
<dd><p class="first last">The list of the ability scores achieved by the user</p>
</dd>
</dl>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="function">
<dt id="group2api.app.get_data_by_date">
<code class="descclassname">group2api.app.</code><code class="descname">get_data_by_date</code><span class="sig-paren">(</span><em>date</em><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.get_data_by_date" title="Permalink to this definition">¶</a></dt>
<dd><p>Get the list of data for one specific submission date</p>
<p>Usage example : &lt;hostname&gt;/get_data/date=2017-11-28</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><dl class="first docutils">
<dt><strong>date</strong> <span class="classifier-delimiter">:</span> <span class="classifier">string</span></dt>
<dd><p class="first last">Give the date string in YYYY-DD-MM format.</p>
</dd>
</dl>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Returns:</th><td class="field-body"><dl class="first last docutils">
<dt><strong>data</strong> <span class="classifier-delimiter">:</span> <span class="classifier">list</span></dt>
<dd><p class="first last">Returns list of instances belongs to the date</p>
</dd>
</dl>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="function">
<dt id="group2api.app.get_data_by_day_number">
<code class="descclassname">group2api.app.</code><code class="descname">get_data_by_day_number</code><span class="sig-paren">(</span><em>day_number</em><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.get_data_by_day_number" title="Permalink to this definition">¶</a></dt>
<dd><p>Get the list of data for one specific submission date</p>
<p>Usage example : &lt;hostname&gt;/get_data/day=1</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><dl class="first docutils">
<dt><strong>day_number</strong> <span class="classifier-delimiter">:</span> <span class="classifier">int</span></dt>
<dd><p class="first last">Give the date number like 1, 2, 3.</p>
</dd>
</dl>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Returns:</th><td class="field-body"><dl class="first last docutils">
<dt><strong>data</strong> <span class="classifier-delimiter">:</span> <span class="classifier">list</span></dt>
<dd><p class="first last">Returns list of instances belongs to one day</p>
</dd>
</dl>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="function">
<dt id="group2api.app.get_exercises">
<code class="descclassname">group2api.app.</code><code class="descname">get_exercises</code><span class="sig-paren">(</span><em>user_id</em>, <em>learning_obj_id</em><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.get_exercises" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns the list of exercises has been done by the user on a particlar learning objective</p>
<p>Usage example : &lt;hostname&gt;/exercises/user_id=231412&amp;learning_obj_id=554363</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><dl class="first docutils">
<dt><strong>user_id</strong> <span class="classifier-delimiter">:</span> <span class="classifier">integer or string</span></dt>
<dd><p class="first last">Give the id of the user</p>
</dd>
<dt><strong>learning_obj_id</strong> <span class="classifier-delimiter">:</span> <span class="classifier">integer or string</span></dt>
<dd><p class="first last">Give the id of the learning objective</p>
</dd>
</dl>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Returns:</th><td class="field-body"><dl class="first last docutils">
<dt><strong>exercises</strong> <span class="classifier-delimiter">:</span> <span class="classifier">list of integers</span></dt>
<dd><p class="first last">The list of unique exercise ids has been done by the user</p>
</dd>
</dl>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="function">
<dt id="group2api.app.get_flag_position">
<code class="descclassname">group2api.app.</code><code class="descname">get_flag_position</code><span class="sig-paren">(</span><em>user_id</em>, <em>loid</em>, <em>flag_number</em><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.get_flag_position" title="Permalink to this definition">¶</a></dt>
<dd><p>…
Usage example : &lt;hostname&gt;/get_flag_position/user_id=2345&amp;flag=Flag1</p>
</dd></dl>

<dl class="function">
<dt id="group2api.app.get_flag_position2">
<code class="descclassname">group2api.app.</code><code class="descname">get_flag_position2</code><span class="sig-paren">(</span><em>user_id</em>, <em>loid</em>, <em>flag_number='all'</em><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.get_flag_position2" title="Permalink to this definition">¶</a></dt>
<dd><p>…
Usage example : &lt;hostname&gt;/get_flag_position/user_id=2345&amp;loid=8052&amp;flag=Flag1</p>
</dd></dl>

<dl class="function">
<dt id="group2api.app.get_number_of_submissions">
<code class="descclassname">group2api.app.</code><code class="descname">get_number_of_submissions</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.get_number_of_submissions" title="Permalink to this definition">¶</a></dt>
<dd><p>Gives the total number of submissions</p>
<p>Usage example : &lt;hostname&gt;/number_of_submissions</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Returns:</th><td class="field-body"><dl class="first last docutils">
<dt><strong>number_of_submissions</strong> <span class="classifier-delimiter">:</span> <span class="classifier">list of integers</span></dt>
<dd><p class="first last">The list of user’s ids</p>
</dd>
</dl>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="function">
<dt id="group2api.app.get_user_info">
<code class="descclassname">group2api.app.</code><code class="descname">get_user_info</code><span class="sig-paren">(</span><em>user_id</em><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.get_user_info" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns the list of activities belongs to a specific user</p>
<p>Usage example : &lt;hostname&gt;/user/user_id=231412</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><dl class="first docutils">
<dt><strong>user_id</strong> <span class="classifier-delimiter">:</span> <span class="classifier">integer or string</span></dt>
<dd><p class="first last">Give the id of the user</p>
</dd>
</dl>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Returns:</th><td class="field-body"><dl class="first last docutils">
<dt><strong>user_info</strong> <span class="classifier-delimiter">:</span> <span class="classifier">list of dictionaries</span></dt>
<dd><p class="first last">The list of user’s activities</p>
</dd>
</dl>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="function">
<dt id="group2api.app.get_user_list">
<code class="descclassname">group2api.app.</code><code class="descname">get_user_list</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.get_user_list" title="Permalink to this definition">¶</a></dt>
<dd><p>Lists the ids of the unique users</p>
<p>Usage example : &lt;hostname&gt;/users</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Returns:</th><td class="field-body"><dl class="first last docutils">
<dt><strong>users</strong> <span class="classifier-delimiter">:</span> <span class="classifier">list of integers</span></dt>
<dd><p class="first last">The list of user ids</p>
</dd>
</dl>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="function">
<dt id="group2api.app.get_user_login_info">
<code class="descclassname">group2api.app.</code><code class="descname">get_user_login_info</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.get_user_login_info" title="Permalink to this definition">¶</a></dt>
<dd><p>Lists the userids, names and passwords</p>
<p>Usage example : &lt;hostname&gt;/login_users</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Returns:</th><td class="field-body"><dl class="first last docutils">
<dt><strong>all_login_users</strong> <span class="classifier-delimiter">:</span> <span class="classifier">list of dictionaries</span></dt>
<dd><p class="first last">The list of user login information</p>
</dd>
</dl>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="function">
<dt id="group2api.app.get_user_login_info_with_user">
<code class="descclassname">group2api.app.</code><code class="descname">get_user_login_info_with_user</code><span class="sig-paren">(</span><em>username</em><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.get_user_login_info_with_user" title="Permalink to this definition">¶</a></dt>
<dd><p>Get the user id, name and password based on username</p>
<p>Usage example : &lt;hostname&gt;/login_users/username=user15379</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><dl class="first docutils">
<dt><strong>username</strong> <span class="classifier-delimiter">:</span> <span class="classifier">string</span></dt>
<dd><p class="first last">Give user name of the user.</p>
</dd>
</dl>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Returns:</th><td class="field-body"><dl class="first last docutils">
<dt><strong>login_user</strong> <span class="classifier-delimiter">:</span> <span class="classifier">list</span></dt>
<dd><p class="first last">User login information</p>
</dd>
</dl>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="function">
<dt id="group2api.app.hello_world">
<code class="descclassname">group2api.app.</code><code class="descname">hello_world</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.hello_world" title="Permalink to this definition">¶</a></dt>
<dd><p>Display the home page</p>
<p>Usage example : &lt;hostname&gt;/</p>
</dd></dl>

<dl class="function">
<dt id="group2api.app.insert">
<code class="descclassname">group2api.app.</code><code class="descname">insert</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.insert" title="Permalink to this definition">¶</a></dt>
<dd><p>Accepts data in JSON format and saves it to the file.</p>
<p>In order to use it, the data should be <em>POSTed</em>.
Data should consist of list of dictionaries.
Usage example with Python requests library:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="kn">import</span> <span class="nn">requests</span>
<span class="n">data</span> <span class="o">=</span> <span class="p">[{</span><span class="s2">&quot;SubmitDateTime&quot;</span><span class="p">:</span><span class="s2">&quot;2012-12-21 12:12:12.120&quot;</span><span class="p">,</span>
         <span class="s2">&quot;UserId&quot;</span><span class="p">:</span><span class="mi">2464375364</span><span class="p">,</span>
         <span class="s2">&quot;ExerciseId&quot;</span><span class="p">:</span><span class="mi">141464536</span><span class="p">,</span>
         <span class="s2">&quot;LearningObjectiveId&quot;</span><span class="p">:</span><span class="mi">11424</span><span class="p">,</span>
         <span class="s2">&quot;Correct&quot;</span><span class="p">:</span><span class="mi">1</span><span class="p">,</span>
         <span class="s2">&quot;AbilityAfterAnswer&quot;</span><span class="p">:</span><span class="mi">14143</span><span class="p">}]</span>
<span class="n">requests</span><span class="o">.</span><span class="n">post</span><span class="p">(</span><span class="s2">&quot;&lt;hostname&gt;/insert&quot;</span><span class="p">,</span> <span class="n">json</span><span class="o">=</span><span class="n">data</span><span class="p">)</span>
</pre></div>
</div>
</dd></dl>

<dl class="function">
<dt id="group2api.app.list_flag_positions">
<code class="descclassname">group2api.app.</code><code class="descname">list_flag_positions</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.list_flag_positions" title="Permalink to this definition">¶</a></dt>
<dd><p>lists the flags position table
Usage example : &lt;hostname&gt;/list_flag_positions</p>
</dd></dl>

<dl class="function">
<dt id="group2api.app.list_flag_positions2">
<code class="descclassname">group2api.app.</code><code class="descname">list_flag_positions2</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.list_flag_positions2" title="Permalink to this definition">¶</a></dt>
<dd><p>Lists the flags position table</p>
<p>Usage example : &lt;hostname&gt;/list_flag_positions2</p>
</dd></dl>

<dl class="function">
<dt id="group2api.app.response_time_enrichment">
<code class="descclassname">group2api.app.</code><code class="descname">response_time_enrichment</code><span class="sig-paren">(</span><em>user_id='all'</em><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.response_time_enrichment" title="Permalink to this definition">¶</a></dt>
<dd><p>Calculates and adds the response time for each submission</p>
<div class="admonition-todo admonition" id="index-0">
<p class="first admonition-title">Todo</p>
<p class="last">Run only on the data that doesn’t have any response time</p>
</div>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><dl class="first last docutils">
<dt><strong>user_id</strong> <span class="classifier-delimiter">:</span> <span class="classifier">integer or string, (default=’all’)</span></dt>
<dd><p class="first last">Give the id of the user. If given ‘all’, runs for
each unique user in the database.</p>
</dd>
</dl>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="function">
<dt id="group2api.app.save_flag_position">
<code class="descclassname">group2api.app.</code><code class="descname">save_flag_position</code><span class="sig-paren">(</span><em>user_id</em>, <em>flag_number</em>, <em>flag_coord</em><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.save_flag_position" title="Permalink to this definition">¶</a></dt>
<dd><p>saves the flag position that is specific to user to flags position table
Usage example : &lt;hostname&gt;/save_flag_position/user_id=2345&amp;flag=Flag1&amp;flag_coord=5</p>
</dd></dl>

<dl class="function">
<dt id="group2api.app.save_flag_position2">
<code class="descclassname">group2api.app.</code><code class="descname">save_flag_position2</code><span class="sig-paren">(</span><em>user_id</em>, <em>loid</em>, <em>flag_number</em>, <em>flag_coord</em><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.save_flag_position2" title="Permalink to this definition">¶</a></dt>
<dd><p>Saves the flag position that is specific to user and for the given learning objective to flags position table</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><dl class="first last docutils">
<dt><strong>user_id</strong> <span class="classifier-delimiter">:</span> <span class="classifier">…</span></dt>
<dd></dd>
</dl>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="function">
<dt id="group2api.app.serve_docs">
<code class="descclassname">group2api.app.</code><code class="descname">serve_docs</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.serve_docs" title="Permalink to this definition">¶</a></dt>
<dd><p>Display the documentations</p>
<p>Usage example : &lt;hostname&gt;/docs</p>
</dd></dl>

<dl class="function">
<dt id="group2api.app.upload_login_users">
<code class="descclassname">group2api.app.</code><code class="descname">upload_login_users</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.upload_login_users" title="Permalink to this definition">¶</a></dt>
<dd><p>Generates user information with default values</p>
<p>Usage example : &lt;hostname&gt;/user_login_info</p>
</dd></dl>

<dl class="function">
<dt id="group2api.app.user_login">
<code class="descclassname">group2api.app.</code><code class="descname">user_login</code><span class="sig-paren">(</span><em>user_id</em>, <em>password</em><span class="sig-paren">)</span><a class="headerlink" href="#group2api.app.user_login" title="Permalink to this definition">¶</a></dt>
<dd><p>Checks if the requested used_id is present in the submission list,
and if the password matches the one set by the user.</p>
</dd></dl>

</div>
<div class="section" id="module-group2api.utils.calculations">
<span id="calculations-py"></span><h2>calculations.py<a class="headerlink" href="#module-group2api.utils.calculations" title="Permalink to this headline">¶</a></h2>
<dl class="function">
<dt id="group2api.utils.calculations.calculate_scores">
<code class="descclassname">group2api.utils.calculations.</code><code class="descname">calculate_scores</code><span class="sig-paren">(</span><em>data</em><span class="sig-paren">)</span><a class="headerlink" href="#group2api.utils.calculations.calculate_scores" title="Permalink to this definition">¶</a></dt>
<dd><p>Calculates the ability scores</p>
</dd></dl>

<dl class="function">
<dt id="group2api.utils.calculations.get_response_time">
<code class="descclassname">group2api.utils.calculations.</code><code class="descname">get_response_time</code><span class="sig-paren">(</span><em>data</em><span class="sig-paren">)</span><a class="headerlink" href="#group2api.utils.calculations.get_response_time" title="Permalink to this definition">¶</a></dt>
<dd><p>Computes the response times for every answer except the first and last of the day</p>
</dd></dl>

</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <h3><a href="#">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Welcome to AppLabServer’s documentation!</a><ul>
<li><a class="reference internal" href="#module-group2api.app">app.py</a></li>
<li><a class="reference internal" href="#module-group2api.utils.calculations">calculations.py</a></li>
</ul>
</li>
</ul>
<div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="#">Documentation overview</a><ul>
  </ul></li>
</ul>
</div>
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="_sources/index.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2018, AppLab Group2.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.7.2</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.10</a>
      
      |
      <a href="_sources/index.rst.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>